.Side-bar
  .Side-bar__user-name
    .top-items
      .top-items__name
        = current_user.name
      .top-items__icons
        = link_to new_group_path(current_user), class: "icons-btn" do
          = icon('far', 'edit')
        = link_to edit_user_path(current_user), class: "icons-btn" do
          = icon('fas', 'cog')

  .Side-bar__group-list
    - current_user.groups.each do |group|
      .groups-items
        = link_to "#" do
          .groups-items__name
            = group.name
          .groups-items__message
            まだメッセージがありません

